body{
  /* background-image: url('../public/data_tile.jpg'); */
  /* background-image: url('https://cdn.pixabay.com/photo/2019/hhttps://static.vecteezy.com/system/resources/thumbnails/007/937/895/small/modern-low-poly-light-blue-triangle-shapes-background-free-vector.jpgttps://img.freepik.com/free-vector/pastel-blue-banner-background_1048-11857.jpg?w=2000/15/09/16/https://img.freepik.com/free-vector/pastel-blue-banner-background_1048-11857.jpg?w=2000-4696630_960_720.jpg'); */
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/007/937/895/small/modern-low-poly-light-blue-triangle-shapes-background-free-vector.jpg');
  background-size: cover;
}
nav{
  background-color: black;
  color: #fff;
  justify-content: space-between;
}
.logo{
  margin: 20px;
}
.list ul{
  display: flex;
}
.list li{
  list-style: none;
}
.list li a{
  color: #fff;
}
.list li ::selection{
  background-color: #12B5B0;
  position: fixed;
}
.list li {
  text-decoration: none;
  color: white;
  padding: 16px;
  display: block;
  border:  1px solid white;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.list li:hover{
  background-color: #12B5B0;
}
.list li a:hover{
  color: white;
}
.button2{
  background-color: #12B5B0;
}
.life li {
  list-style: none;
  text-align: center;
}
.hdfc li {
  list-style: none;
  text-align: center;
}

.save{
  background-color: #12B5B0;
  width: 214px;
  height: 58px;
  border-radius: 20px;
  margin-left: 250px;
  color: #fff;
}

.form{
  /* width: 500px; */
  text-align: left;
  margin-left: 550px;
}
.form input{
  width: 300px;
}

.modal{
  background-color: black;
}
.mbody{
  /* background-image: url('https://cdn.pixabay.com/photo/2019/12/15/09/16/blue-4696630_960_720.jpg' ); */
  /* height: 30vh; */
  background: linear-gradient(to bottom, skyblue 40%, white 40%);

  background-size: cover;
}
.ebody{
  display: flex;
}
.edit input{
  width: 300px;
}
.edit a {
  margin-left: 150px;
  
}